[submodule "submodules/mpi_circulants"]
	path = submodules/mpi_circulants
	url = git@github.com:hunsa/mpi_circulants.git
[submodule "submodules/mpi-lane-collectives"]
	path = submodules/mpi-lane-collectives
	url = https://github.com/parlab-tuwien/mpi-lane-collectives.git
